<% include ../includes/thanksstart.ejs %>


<!-- Order sent page -->

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <a href="http://heysweetd.com/">
            <h2 class="masthead-brand">sweetD</h2>
          </a>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="http://heysweetd.com/">Order</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover" id="mainstuff" style="margin-top: 100px; margin-bottom: 325px;">
        <h1 class="cover-heading">Sorry, we're closed at the moment!</h1>
        <p class="lead">We operate from 9pm-2am Wednesday through Sunday. Come back soon!</p>
      </div>
      
      <div class="mastfoot">
        <div class="inner">
          <p class="end">We have the sweets!</p>
        </div>
      </div>

    </div>

  </div>

</div>

<% include ../includes/end.ejs %>