<% include ../includes/thanksstart.ejs %>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '370239949834259',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Order sent page -->

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <a href="http://heysweetd.com/">
            <h1 class="masthead-brand animated bounceInDown"><img src="/finallogo2.png" style="width: 118px; height: 70px;"></h1>
          </a>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="http://heysweetd.com/">Order</a></li>
              <li><a href="http://heysweetd.com/support">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover" id="mainstuff" style="margin-top: 100px; margin-bottom: 25px;">
        <h1 class="cover-heading">Thanks for your order!</h1>
        <p class="lead">Help us choose new products for our menu <a href="http://goo.gl/forms/Pb0JJkbeO1"><green>here</green></a>!</p>
        <p class="lead">We will send out your delivery soon! (We may contact you if necessary)</p>
        <p class="lead"><r>IF YOU AREN'T CONTACTED WITHIN 10-15 MINUTES OF YOUR ORDER, PLEASE RESUBMIT IT AND CONTACT US IMMEDIATELY</r></p>

        <input type="image" class="img-circle" id="thecookie" src="/sweetdcookie.png">
      </div>
      <div class="row" style="margin-bottom: 200px">
        <div class="fb-like" data-href="https://facebook.com/heysweetd" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
      

      <div class="mastfoot">
        <div class="inner">
          <p class="end">We have the sweets!</p>
        </div>
      </div>

    </div>

  </div>

</div>

<% include ../includes/end.ejs %>