<% include ../includes/start.ejs %>


<!-- Main order page -->

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <a  href="http://heysweetd.com/">
            
            <h1 class="masthead-brand animated bounceInDown"><img src="/finallogo2.png" style="width: 118px; height: 70px;"></h1>
          </a>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="http://heysweetd.com/">Order</a></li>
              <li><a href="http://heysweetd.com/support">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <form class="form">

        <script>
        $(function () {
          var nua = navigator.userAgent
          var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 )
          if (isAndroid) {
            $('select.form-control').removeClass('form-control').css('width', '100%')
          }
        })
        </script>

        <div class="inner cover">
          <h1 class="cover-heading">Got a hankering for something sweet?</h1>
          <p class="lead">Place your order and we'll get you what you need as soon as we can!</p>
          <p>**As long as you're on UCSC's campus (for now)</p>
          
          <div class="row">
            <div class="col-md-4">
              <h2>Condoms!</h2>
              <p>Did you forget some? Fear not! Tonight just got a whole lot sweeter ;) <green>$0.50</green> each.</p>
              <div class ="form-group">
                <label id="OFlBAvSjpD">Condoms</label>
                <select style="color:black;" id="condoms">
                  <option class="top-selection">Condoms</option>
                  <option value="1 CndM">1 Condom</option>
                  <option value="2 CndM">2 Condoms</option>
                  <option value="3 CndM">3 Condoms</option>
                  <option value="4 CndM">4 Condoms</option>
                  <option value="5 CndM">5 Condoms</option>
                  <option value="6 CndM">6 Condoms</option>
                  <option value="7 CndM">7 Condoms</option>
                  <option value="8 CndM">8 Condoms</option>
                </select>
              </div>
            </div>
            <div class = "col-md-4">
              <h2>Minis!</h2>
              <p>Cookies and candy not doin' it for ya? How about a brownie? Cinnamon roll? Yes, please! <green>$0.50</green> each.</p>
              <div class ="form-group">
                <label id = "jqlPANiXgo">Brownies (mini)</label>
                <select style="color:black;" id="brownies">
                  <option class="top-selection">Brownies</option>
                  <option value="1 BrwN">1 Brownie</option>
                  <option value="2 BrwN">2 Brownies</option>
                  <option value="3 BrwN">3 Brownies</option>
                  <option value="4 BrwN">4 Brownies</option>
                </select>
                <label id = "NguOjWzDvc" style="margin-top: 20px;">Cinnamon Rolls (mini)</label>
                <select style="color:black;" id="cinnaRolls">
                  <option class="top-selection">Cinnamon Rolls</option>
                  <option value="1 CnRl">1 Cinnamon Rolls</option>
                  <option value="2 CnRl">2 Cinnamon Rolls</option>
                  <option value="3 CnRl">3 Cinnamon Rolls</option>
                  <option value="4 CnRl">4 Cinnamon Rolls</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <h2>Drinks!</h2>
              <p>Need a pick me up? How about something refreshing? We've got it. <green>$2.00</green> each. </p>
              <div class ="form-group">
                <label id = "r4aIlTLQ4J">Rock Star</label>
                <select style="color:black;" id="rockStars">
                  <option class="top-selection">Rock Star</option>
                  <option value="1 RkSt">1 Rock Star</option>
                  <option value="2 RkSt">2 Rock Stars</option>
                  <option value="3 RkSt">3 Rock Stars</option>
                  <option value="4 RkSt">4 Rock Stars</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row" style="padding-top: 0px">
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <h2>Candy!</h2>
              <p>Oooh piece of candy! Sometimes you just gotta listen to your sweet tooth. <green>$1.00</green> each.</p>
              <div class ="form-group">
                <label id="dOWFhzLe0l">Snickers</label>
                <select style="color:black;" id="snickers">
                  <option class="top-selection">Snickers</option>
                  <option value="1 SnkR">1 Snickers</option>
                  <option value="2 SnkR">2 Snickers</option>
                  <option value="3 SnkR">3 Snickers</option>
                  <option value="4 SnkR">4 Snickers</option>
                </select>
                <label id="XZtg1Yebhe" style="margin-top: 20px;">Twix</label>
                <select style="color:black;" id="twix">
                  <option class="top-selection">Twix</option>
                  <option value="1 TwiX">1 Twix</option>
                  <option value="2 TwiX">2 Twix</option>
                  <option value="3 TwiX">3 Twix</option>
                  <option value="4 TwiX">4 Twix</option>
                </select>
                <label id="ZgfMt4Gp0f" style="margin-top: 20px;">Milky Way</label>
                <select style="color:black;" id="milkyWay">
                  <option class="top-selection">Milky Way</option>
                  <option value="1 MlkY">1 Milky Way</option>
                  <option value="2 MlkY">2 Milky Ways</option>
                  <option value="3 MlkY">3 Milky Ways</option>
                  <option value="4 MlkY">4 Milky Ways</option>
                </select>
                <label id="C9IwFUQQOW" style="margin-top: 20px;">M&M's</label>
                <select style="color:black;" id="mnms">
                  <option class="top-selection">M&M's</option>
                  <option value="1 MnMs">1 M&M's</option>
                  <option value="2 MnMs">2 M&M's</option>
                  <option value="3 MnMs">3 M&M's</option>
                  <option value="4 MnMs">4 M&M's</option>
                </select>
                <label id="VYrQAhuOwY" style="margin-top: 20px;">Peanut M&M's</label>
                <select style="color:black;" id="peanuts">
                  <option class="top-selection">Peanut M&M's</option>
                  <option value="1 pMnM">1 Peanut M&M's</option>
                  <option value="2 pMnM">2 Peanut M&M's</option>
                  <option value="3 pMnM">3 Peanut M&M's</option>
                  <option value="4 pMnM">4 Peanut M&M's</option>
                </select>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <h2>Cookies!</h2>
              <p>Delicious cookies that will surely satisfy that craving of yours! <green>$0.50</green> each.</p>
              <div class ="form-group">
                <label id ="Cw88sZHIZy">Chocolate Chip Cookies</label>
                <select style="color: black;" id="chipCookies">
                  <option class="top-selection">Chocolate Chip Cookies</option>
                  <option value="1 CcC">1 Chocolate Chip Cookie</option>
                  <option value="2 CcC">2 Chocolate Chip Cookies</option>
                  <option value="3 CcC">3 Chocolate Chip Cookies</option>
                  <option value="4 CcC">4 Chocolate Chip Cookies</option>
                </select>
                <label id="kDIaQg1oF6" style="margin-top: 20px;">White Chocolate Macadmia Nut Cookies</label>
                <select style="color: black;" id="whiteChocolate">
                  <option class="top-selection">White Chocolate Macadamia Cookies</option>
                  <option value="1 WcM">1 White Chocolate Macadamia Cookie</option>
                  <option value="2 WcM">2 White Chocolate Macadamia Cookies</option>
                  <option value="3 WcM">3 White Chocolate Macadamia Cookies</option>
                  <option value="4 WcM">4 White Chocolate Macadamia Cookies</option>
                </select>
                <label id="arhcAs2f1s" style="margin-top: 20px;">Oatmeal Raisin Cookies</label>
                <select style="color: black;" id="oatmeal">
                  <option class="top-selection">Oatmeal Raisin Cookies</option>
                  <option value="1 OrC">1 Oatmeal Raisin Cookie</option>
                  <option value="2 OrC">2 Oatmeal Raisin Cookies</option>
                  <option value="3 OrC">3 Oatmeal Raisin Cookies</option>
                  <option value="4 OrC">4 Oatmeal Raisin Cookies</option>
                </select>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          
          <p class ="lead total" id="totalText" style="font-size: 30px;">Total: $0.00</p>
          <p style="margin-bottom: 40px;">Free delivery with orders over <green>$5.00!</green></p>
          
          <p class="lead">
            Some stuff about you...
            <div class="form-group" id="phoneCheck">
              <input type="text" class="form-control has-success" id="phoneNumber" placeholder="Enter your phone number here!">
            </div>
            
            <div class="form-group" id="locationCheck">
              <input type="text" class="form-control" id="location" placeholder="Enter your location! i.e. &#34;Oakes, Wiesel building&#34;">
            </div>
            <p> We accept cash and Bitcoin only! (for now)</p>
            <button type="submit" class="btn btn-lg btn-default">Gimme!</button>
          </p>
        </div>

      </form>

      <div class="mastfoot">
        <div class="inner">
          <p class="end">We have the sweets!</p>
        </div>
      </div>

    </div>

  </div>

</div>

<% include ../includes/end.ejs %>