<% include ../includes/thanksstart.ejs %>


<!-- Order sent page -->

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <a href="http://heysweetd.com/">
            <h1 class="masthead-brand"><img src="/finallogo2.png" style="width: 118px; height: 70px;"></h1>
          </a>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="http://heysweetd.com/">Order</a></li>
              <li class="active"><a href="http://heysweetd.com/support">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover" id="mainstuff" style="margin-top: 100px; margin-bottom: 325px;">
        <h1 class="cover-heading">Wanna chat?</h1>
        <p class="lead">Contact us here at <a href="mailto:support@heysweetd.com"><green>support@heysweetd.com</green></a>!</p>
      </div>
      
      <div class="mastfoot">
        <div class="inner">
          <p class="end">We have the sweets!</p>
        </div>
      </div>

    </div>

  </div>

</div>

<% include ../includes/end.ejs %>